@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    /* Color palette */
    --c-dark-teal: rgb(0, 103, 105);
    --c-dark-green: rgb(64, 166, 120);
    --c-lime: rgb(157, 222, 139);
    --c-light-lime: rgb(230, 255, 148);

    /* Neutral colors */
    --c-black: rgb(0, 0, 0);
        --c-black-trans: rgb(0, 0, 0, .2);

    --c-gray: rgb(99, 99, 99);

    --c-white: rgb(255, 255, 255);
}

* 
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}